<div id="footer">
	<div>
		<ul class="navigation">
			<li>
				<a href="/"><img id="logo" src="images/logo.png" alt="LOGO"></a>
			</li>
			<li>
				<a href="/travel">Travel</a>
			</li>
			<li>
				<a href="/news">News</a>
			</li>
			<li>
				<a href="/reservations">Rooms</a>
			</li>
			<li>
				<a href="/admin">Admin</a>
			</li>
			<li>
				<a href="/checkout" class="px-0">
					<div class="d-flex align-items-center justify-content-center">
						<svg class="bi" width="1em" height="1em" fill="#594334">
							<use href="images/bootstrap-icons.svg#cart4"/>
						</svg>
						Checkout
					</div>
				</a>
			</li>
			<li>
				<a href="#login-modal" class="px-0" data-toggle="modal" data-target="#login-modal">
					<div class="d-flex align-items-center justify-content-center">
						<svg class="bi" width="1em" height="1em" fill="#594334">
							<use href="images/bootstrap-icons.svg#person"/>
						</svg>
						Login
					</div>
				</a>
			</li>
		</ul>
		<div id="connect">
			<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
			<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
			<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
			<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
		</div>
	</div>
	<p>
		© 2023 by Travlr Getaways. All Rights Reserved
	</p>
</div>