<!-- Modal -->
<div class="modal fade" id="" tabindex="" role="" aria-labelledby="" aria-hidden="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="">Login</h5>
        <button type="button" class="modal-title" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
      </div>
    </div>
    </div>
  </div>
</div>

