<div class="d-flex flex-column">
  <div>
    <div *ngIf="this.title === 'Admin'" id="admin-icons">
      <button type="button" class="btn btn-link" name="help">
        <svg class="bi" width="32" height="32" fill="#ffffff">
          <use href="/assets/images/bootstrap-icons.svg#question-circle"/>
        </svg>
      </button>

      <button class="btn btn-link">
        <svg class="bi" width="32" height="32" fill="#ffffff">
          <use href="/assets/images/bootstrap-icons.svg#chat"/>
        </svg>
      </button>

      <button class="btn btn-link">
        <svg class="bi" width="32" height="32" fill="#ffffff">
          <use href="/assets/images/bootstrap-icons.svg#envelope"/>
        </svg>
      </button>

      <button class="btn btn-link">
        <svg class="bi" width="32" height="32" fill="#ffffff">
          <use href="/assets/images/bootstrap-icons.svg#person-circle"/>
        </svg>
      </button>
    </div>

    <div *ngIf="this.title !== 'Admin'">
      <h2>{{ title }}</h2>
    </div>

    <div *ngIf="isLoggedIn()">
      <a id="logout" class="link link-primary" (click)="onLogout()" routerLink="">
        Hello, {{ userName }}! <br />Log Out
      </a>
    </div>

    <div *ngIf="!isLoggedIn()">
      <a id="login" routerLink="login">
        Log In
      </a>
    </div>
  </div>
  <div>

  </div>
</div>

